html {
background-image : url("rockets.jpg"); 
background-position : left center fixed;
background-size : cover;
}

body{
text-align : center;
} 

.box{
display : inline-block;
border-radius : 10px;
margin : 10px;
width : 100px;
color : white;
border : 3px solid white;
text-align : center;
font-size : 45px;
padding : 15px;
font-family  : calibri;
background-color : black;
}

#timeblock{
display : inline-block;
margin : auto;
text-align : center;
}

.unit{
font-size : 25px;
color : oldlace;
font-family : helvetica;
}

.block{
margin : auto;
display : inline-block;
color : solid navy;
}

.gettime{
border-radius:1px;
margin:10px;
border:none;
width:150px;
padding:5px;
color:dimgray
background-color: azure;
font-family: helvetica;
text-align:center;
font-size: 30px;
}

.buttondisp{
border: 4px magenta;
font-family: helvetica;
font-weight: bold;
border-radius: 5px;
font-size: 25px;
display:inline-block;
padding: 10px 15px;
margin: 15px;
background-color: red;
color : white;    
}
